<%- include('../layouts/head.ejs') %>
    </head>

    <body>
        <%- include('../layouts/nav.ejs') %>
        <main>
        <h2>Price : <%= parseFloat(price).toFixed(2) %> €</h2>
            <% if (products.length > 0) { %>
                <ul>
                    <% products.forEach(p => { %>
                        <li>
                            <p><%= p.product.title %> (Quantity : <%= p.quantity %>)</p>
                            <form action="/cart-delete-item" method="POST">
                                <input type="hidden" value="<%= p.product._id %>" name="product">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                                <button class="btn" type="submit">Delete</button>
                            </form>
                        </li>
                    <% }) %>
                </ul>
                <hr>
                <div class="centered">
                    <form action="/create-order" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                        <button type="submit" class="btn">Order Now!</button>
                    </form>
                </div>
                

            <% } else { %>
                <h1>No Products in Cart!</h1>
            <% } %>
        </main>
        <%- include('../layouts/end.ejs') %>